<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>



<div class="main" style="width: 100%;">
	<div id="spinner" class=""></div>

	<div class="row" style="width: 50%; margin-left: 15%; margin-top: 30px;">
		<h1>Log de Actividades</h1>
	</div>

	<div class="row" style="width: 60%; margin-left: 14.2%; margin-top: 15px;">
		<div style="width: 15; float: left;%" class="col">
			<label for="inputState">Bebé</label>
			<select id="input_1" class="form-control">
				<option selected value="">Ninguno</option>
				<% @bebes.each do |bebe| %>
					<option value="<%= bebe['id'] %>"><%= bebe['name'] %></option>
				<% end %>
			</select>
		</div>

		<div style="width: 15%; float: left;" class="col">
			<label for="inputState">Asistentes</label>
			<select id="input_2" class="form-control">
				<option selected value="">Ninguno</option>
				<% @asistentes.each do |assistant| %>
					<option value="<%= assistant['id'] %>"><%= assistant['name'] %></option>
				<% end %>
			</select>
		</div>

		<div style="width: 15%; float: left;" class="col">
			<label for="inputState">Status</label>
			<select id="input_3" class="form-control">
				<option selected value="">Todas</option>
				<option value="Terminada">Terminadas</option>
				<option value="En progreso">En progreso</option>
			</select>
		</div>

		<div style="width: 15%; margin-top: 32px; float: right;" class="col">
			<button onclick="traerFiltros()" type="button" style="width: 100%;" class="btn btn-info">Filtrar</button>
		</div>
	</div>
	
	
	<table id="table" class="table" style="width: 70%; margin-left: 15%; margin-top: 30px;">
	  	<thead class="thead-dark">
	    	<tr>
		      <th scope="col">Bebé</th>
		      <th scope="col">Asistente</th>
		      <th scope="col">Actividad</th>
		      <th scope="col">Inicio</th>
		      <th scope="col">Estatus</th>
		      <th scope="col">Duración</th>
		    </tr>
		</thead>
	  	<tbody id="elementos">
	  	</tbody>
	</table>
</div>


<script type="text/javascript">

	var baby_id = ""
	var assistant_id = ""
	var status = ""
	var pagina = ""

	$(document).ready(function(){
		consultarInformacion(null, null, null, null);
	});



	function consultarInformacion(baby_id, assistant_id, status, page_id){
		$('#spinner').addClass('hm-spinner');
		console.log("vamos con ajax")
		$.ajax({
			type:"POST", 
			url:"<%= consultar_info_path %>",
			data: {baby_id: baby_id, assistant_id: assistant_id, page_id: page_id, status: status},
			dataType: 'json',
			success:function(result){
				if(result[0] == 200){
					console.log("success")
					console.log(result[1])
					$.each(result[1], function(index, value){
						$('#elementos').append("<tr><th>"+ value['baby_name'] + "</th><th>"+ value['assistant_id'] + "</th><th>"+ value['activity_name'] + "</th><th>"+ value['start_time'] + "</th><th>"+ value['status'] + "</th><th>"+ value['duration'] + " min</th></tr>");
					});
					$('#spinner').removeClass('hm-spinner');
				}else{
					console.log("Error")
					console.log(result[1])
				}
			}, 
			error:function(err){
				$('#spinner').removeClass('hm-spinner');
				console.log("Error no se recibieron los datos")
				console.log(err)	
			}
	  	});
	}

	function traerFiltros(){
		baby_id = $("#input_1").val();
		assistant_id = $("#input_2").val();
		status = $("#input_3").val();
		console.log("Los valores son")
		console.log(baby_id)
		console.log(assistant_id)
		console.log(status)
		consultarInformacion(baby_id, assistant_id, status, pagina);
	}
</script>